onfiguration {
  show-icons:         true;
  icon-theme:         "Papirus-Dark";
  hide-scrollbar:     true;
  cycle:              false;
  disable-history:    false;
  modi:               "drun";
  display-drun:       "apps";
  columns:            2;
  terminal:           "termite";
}
