configuration {
  show-icons:         true;
  icon-theme:         "Papirus-Dark";
  hide-scrollbar:     true;
  cycle:              false;
  disable-history:    false;
  modi:               "drun,ssh";
  display-drun:       "apps";
  columns:            2;
  terminal:           "alacritty";
}
@import "/usr/share/rofi/themes/gruvbox-dark.rasi"
